<!DOCTYPE html>
<html lang="{{ site.lang | default: "fr" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <p>Table de matières
            <ol>
                <li><a href="/guide/decrire.md">Comment décrire une bière - Explication des mots</a></li>
                <li>Guide des styles par couleur, avec exemples et fiche descriptive
                    <ul>
                        <li><a href="/guide/blondes.md">Blondes</a></li>
                        <li><a href="/guide/rousses.md">Rousses</a></li>
                        <li><a href="/guide/brunes.md">Brunes</a></li>
                        <li><a href="/guide/IPAs.md">IPAs</a></li>
                        <li><a href="/guide/noires.md">Noires</a></li>
                        <li><a href="/guide/sures.md">Fruitées et épicées</a></li>
                        <li><a href="/guide/autres.md">Autres</a></li>
                    </ul>
                </li>
                <li><a href="/guide/houblons.md">Houblons</a></li>
                <li><a href="/guide/packs.md">Packs pré-faits pour découvrir la bière</a>
                    <ul>
                        <li>L&#39;essentiel</li>
                        <li>Pour aller plus loin</li>
                    </ul>
                </li>
                <li><a href="/guide/verres.md">Quel verre choisir ?</a></li>
                <li><a href="/guide/echanges.md">Produits rares et échanges</a>
                    <ul>
                        <li>Brasseries rares</li>
                        <li>Produits rares</li>
                        <li>Où les échanger ?</li>
                        <li>Valeur secondaire des bières</li>
                    </ul>
                </li>
                <li><a href="/guide/brassage.md">Brassage amateur À VENIR</a></li>
            </ol>
        </p>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">Voir ce projet sur GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">Voir mon profil GitHub</a></p>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>L'auteur de ce projet est <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hébergé sur GitHub Pages &mdash; Thème par <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>