<!DOCTYPE html>
<html lang="{{ site.lang | default: "fr" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Guide explicatif sur les styles de bière, les produits québécois, la vaisselle ainsi qu'une 'caisse découverte' préfaite.">
    <meta name="keywords" content="microbrasserie, biere, guide, quebec, quebecoise, brassage, ipa, houblon">
    <meta name="author" content="Pedro Luis Bernardos">
    {% seo %}
    <!-- <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}"> -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.bundle.min.js"></script>
    {% include head-custom.html %}
  </head>

  <body>
    <div class="wrapper">
      <!-- Barre de navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ "/" | absolute_url }}">
            <img src="{{site.logo | relative_url}}" width="30" height="30" class="d-inline-block align-top" alt="Logo">Accueil
          </a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{{ "/" | absolute_url }}guide/decrire.md">Décrire</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Couleurs</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{{ "/" | absolute_url }}guide/blondes.md">Blondes</a>
                  <a class="dropdown-item" href="{{ "/" | absolute_url }}guide/rousses.md">Rousses</a>
                  <a class="dropdown-item" href="{{ "/" | absolute_url }}guide/brunes.md">Brunes</a>
                  <a class="dropdown-item" href="{{ "/" | absolute_url }}guide/noires.md">Noires</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{{ "/" | absolute_url }}guide/IPAs.md">IPAs</a>
                  <a class="dropdown-item" href="{{ "/" | absolute_url }}guide/sures.md">Fruitées et épicées</a>
                  <a class="dropdown-item" href="{{ "/" | absolute_url }}guide/autres.md">Autres</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ "/" | absolute_url }}guide/houblons.md">Houblons</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ "/" | absolute_url }}guide/packs.md">Packs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ "/" | absolute_url }}guide/verres.md">Verres</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ "/" | absolute_url }}guide/echanges.md">Échanges</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="{{ "/" | absolute_url }}guide/brassage.md">Brassage</a>
              </li>
            </ul>
          </div>
          </div>
        </nav>

      <section>
        {{ content }}
      </section>
    
      <footer class="text-center text-lg-start bg-light text-muted">
        <!-- Copyright -->
        <div class="p-4 text-center">
          <p class="view">
            <a href="{{ "/" | absolute_url }}">retourner à la page d'accueil
            </a>
          </p>
          © Copyright:
          <a class="text-reset fw-bold" href="{{ site.github.owner_url }}" target="_blank">Pedro Luis Bernardos</a>
          <p>
            <small>Hébergé sur GitHub Pages &mdash; Thème par 
              <a href="https://github.com/orderedlist">orderedlist</a>
            </small>
          </p>
        </div>
      </footer>
    </div>
    <!-- Bootstrap et JQuery -->
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
